

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.Kimlik.Title</title>
    <meta name="descriptison" content="@Html.Raw(ViewBag.Kimlik.Description)">
    <meta name="keywords" content="@ViewBag.Kimlik.Keywords">


    <link href="~/Content/SiteLayout/.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/SiteLayout//Scripts/modernizr-2.6.2.js"></script>
    @*
        <script src="~/Content/SiteLayout/js/slider-min.js" type="text/javascript">
    *@

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Content/SiteLayout/assets/img/favicon.png" rel="icon">
    <link href="/Content/SiteLayout/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/SiteLayout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Content/SiteLayout/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.1.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a href="/AnaSayfa/">@*<img src="@ViewBag.Kimlik.LogoUrl" />*@@ViewBag.Kimlik.Unvan</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/AnaSayfa/">AnaSayfa</a></li>
                    <li><a href="/AnaSayfa/#Hakkimizda">Hakkımızda</a></li>
                    <li><a href="/AnaSayfa/#Hizmet">Hizmetler</a></li>
                    <li><a href="/BlogPost/">Blog</a></li>
                    <li><a href="/AnaSayfa/#iletisim">İletişim</a></li>
                    <li><a href="/BizeUlas/">Bize Ulaş</a></li>


                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero No Slider Section ======= -->
    @RenderBody()



    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="50">
        <div>
            <div>
                <div class="copyright">
                    @DateTime.Now.Year
                    Tüm Hakları Saklıdır. <strong><span>Kurumsal Web</span></strong>.
                </div>

            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="/Content/SiteLayout/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/php-email-form/validate.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/aos/aos.js"></script>
   

    <!-- Template Main JS File -->
    <script src="/Content/SiteLayout/assets/js/main.js"></script>

</body>

</html>